html {
    font-size: 250;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00c753;
    background-image: linear-gradient(rgb(2, 185, 2), rgb(255, 255, 24));
}

body {
    width: 800px;
    margin: 0 auto;
    background-image: linear-gradient(rgb(2, 185, 2), rgb(255, 255, 24));;
    padding: 0 30px 30px 30px;
    border: 5px solid black;
    
  }

  p, li, a, ul {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
    text-shadow: 1px 1px 1px black;
  }

  img {
    max-width:400px;
    max-height:350px;
    width: auto;
    height: auto;
    display: block;
    image-orientation: center;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 60px 0;
    color: white;
    text-shadow: 3px 3px 1px black;
    
  }